<%# ----- add these lines here: ----- %>

<h1>Sign Up</h1>

<%= form_for @user do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, autofocus: true %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth %>
  </div>

  <div>
    <%= form.label :country_id, 'Country' %>
    <%= form.collection_select :country_id, Country.all.order(:name), :id, :name, prompt: 'Select a country' %>

    <%= form.label :phone_number, 'Phone Number' %>
    <% if @user.country %>
      <% phone_code = @user.country.phone_code %>
      <% phone_format = Phonelib.parse('', phone_code).national.split(' ').join('-') %>

      <%= form.text_field :phone_number, value: Phonelib.parse(f.object.phone_number, phone_code).full_e164, placeholder: phone_format %>
    <% else %>
      <%= form.text_field :phone_number %>
    <% end %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit "Sign up!" %>
  </div>
<% end %>

<%# ----- end of added lines ----- %>
