<%= form_with(model: @country, url: @country.persisted? ? country_path(@country) : countries_path, local: true) do |form| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
        <% @country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :iso2 %>
    <%= form.text_field :iso2 %>
  </div>

  <div class="field">
    <%= form.label :iso3 %>
    <%= form.text_field :iso3 %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :phone_code %>
    <%= form.text_field :phone_code %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :flag %>
    <%= form.file_field :flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
